@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
    <script src="~/js/front.js"></script>
}

<div class="text-center">
    <h1>Welcome to Admin Dashboard </h1> 
    <h2 class="brand-text d-none d-lg-inline-block">User List</h2><br />
    <table class="table">
            <tr>
               <th scope="col">#</th>
               <th scope="col">User Name</th>
               <th scope="col">User Role</th>
               <th scope="col">Delete</th>
               <th scope="col">Update</th>
            </tr>
            @foreach(var user in Model){
            <tr>
                <th scope="row">@user.Id</th>
                <td>@user.Name</td>
                <td>@user.Role</td>
                <td><a href="/Admin/RemoveUser/@user.Id" class=" btn btn-outline-danger"><i class="bi bi-trash"></i>Terminate User</a></td>
                <td><a href="/Admin/UpdateUser/@user.Id" class=" btn btn-outline-primary"><i class="bi bi-trash"></i>Edit User Information</a></td>
            </tr>

            }          
    </table>
</div>
