
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Welcome to Admin Dashboard </h1> 
    <h2 class="brand-text d-none d-lg-inline-block">User List</h2><br />
    <table class="table">
        <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">User Name</th>
               <th scope="col">User Role</th>
               <th scope="col">Action</th>
            </tr>
        </thead>
            <tbody>
               <tr>
                   <th scope="row">1</th>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
            </tbody>
    </table>
</div>
