
@{
    ViewData["Title"] = "RemoveUser";
}

<div class="text-center">
    <h2 class="brand-text d-none d-lg-inline-block">User Information</h2><br />
    
    <div class="text-center">
    <form action="" method="post">
        <table class="table">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">User Name</th>
                  <th scope="col">User Email</th>
                  <th scope="col">User Role</th>
                  <th scope="col">Action</th>
               </tr>
            </thead>
               <tbody>
                 <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td></td>
                 </tr>
            </tbody>
        </table>
         <div>Are you sure to delete this product?</div>
         <button type="submit" class="btn btn-danger">Delete</button>
         <a class="btn btn-warning" href="/Admin/Index">Cancel</a>
    </form>
</div>

</div>

