
@{
    ViewData["Title"] = "Appointment";
    <script src="~/js/front.js"></script>
}

<div class="text-center">
    <h2 class="brand-text d-none d-lg-inline-block">Next Appointment On</h2>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Next Appointment Date" disabled>@ViewBag.Date</textarea>
    </div>
</div>

