
@{
    ViewData["Title"] = "BillMenu";
}

<div class="text-center">
    <h2 class="brand-text d-none d-lg-inline-block">Upcoming Appointments</h2><br />
    <table class="table">
        <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">Patient Name</th>
               <th scope="col">Invoice Title</th>
               <th scope="col">Price</th>
               <th scope="col">Payment Mode</th>
               <th scope="col">Payment Status</th>
            </tr>
        </thead>
            <tbody>
               <tr>
                   <th scope="row">1</th>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
            </tbody>
    </table>
</div>

