
@{
    ViewData["Title"] = "NewPatient";
}

<div class="text-center">
    <h2 class="brand-text d-none d-lg-inline-block">Add New Patient</h2>
    <form class="login-form py-5 w-100" method="post" action="/Reception/NewPatient">
        <div class="input-material-group mb-3">
            <input class="input-material" id="login-username" type="text" name="Fullname" autocomplete="on" required data-validate-field="FullName">
            <label class="label-material" for="Fullname">Patient's Full Name</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="text" name="Gender" required data-validate-field="Gender">
            <label class="label-material" for="Gender">Gender</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="date" name="Age" required data-validate-field="DateOfBirth">
            <label class="label-material" for="Age">Age</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="tel" name="Phone" required data-validate-field="PhoneNumber">
            <label class="label-material" for="Phone">Phone</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="email" name="Email" required data-validate-field="loginUsername">
            <label class="label-material" for="Email">Email</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="text" name="Address" required data-validate-field="Address">
            <label class="label-material" for="Address">Address</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="text" name="BloodType" required data-validate-field="BloodType">
            <label class="label-material" for="BloodType">BloodType</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="number" name="Height" required data-validate-field="Height">
            <label class="label-material" for="Height">Height</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="number" name="Weight" required data-validate-field="Weight">
            <label class="label-material" for="Weight">Weight</label>
        </div>
        <button class="btn btn-primary mb-3" id="login" type="submit">Add New Patient</button>
    </form>
</div>

