
@{
    ViewData["Title"] = "Preliminary";
}

<div class="text-center">
    <h2 class="brand-text d-none d-lg-inline-block">Preliminary Analysis</h2>
    <form class="login-form py-5 w-100" method="post" action="/Doctor/Preliminary">
        <div class="input-material-group mb-3">
            <input class="input-material" id="login-username" type="text" name="Id" autocomplete="on" required data-validate-field="loginUsername">
            <label class="label-material" for="Id">Patient ID</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="text" name="History" required data-validate-field="loginPassword">
            <label class="label-material" for="History">History</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="text" name="Symptoms" required data-validate-field="loginPassword">
            <label class="label-material" for="Symptoms">Password</label>
        </div>
        <div class="input-material-group mb-4">
            <input class="input-material" id="login-password" type="text" name="LabOrder" required data-validate-field="loginPassword">
            <label class="label-material" for="LabOrder">Password</label>
        </div>
        <button class="btn btn-primary mb-3" id="login" type="submit">Login</button><br><a class="text-sm text-paleBlue" href="/Home/ForgotPassword">Forgot Password?</a>
    </form>
</div>

